<div class="movie-grid" id="movieGrid">
    <div class="movie-card" *ngFor="let movie of movieData" (click)="openModal(movie.uuid)">
        <div class="movie-poster">
            <img src="{{movie.posterImage}}" alt=""/>
            <!-- <i class="fas fa-film"></i> -->
        </div>
        <div class="movie-info">
            <h3 class="movie-title">{{movie.title}}</h3>
            <p class="movie-year">{{movie.year}}</p>
            <div class="movie-rating">
                <span class="stars">⭐⭐⭐⭐⭐</span>
                <span class="rating-number">{{movie.rating}}</span>
            </div>
            <span class="movie-genre">Sci-Fi</span>
        </div>
    </div>
    <app-movie-details-modal [uuid] = "uuid"></app-movie-details-modal>
</div>